@import 'fonts.css';

:root {
    --M700: 'Montserrat-Bold';
    --M500: 'Montserrat-Medium';
    --M400: 'Montserrat-Regular';
    --P700: 'ProstoOne';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #151515;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.nav {
    background: #282828;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    padding: 6px;
}

.nav__item {
    display: flex;
    justify-content: space-between;
}

.nav__item-left {
    display: flex;
}

.menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.menu__link {
    font-family: var(--M700);
    margin-left: 30px;
    font-size: 20px;
    line-height: 24px;
    text-align: right;
    color: #FFFFFF;
    text-decoration: none;
}

.nav__item-right {
    display: flex;
    align-items: center;
}

.icon {
    margin-left: 25px;
    color: white;
}

.header {
    height: 100vh;
    background: url(../images/Header.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.header__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.header__title {
    font-size: 100px;
    line-height: 75px;
    color: #FFFFFF;
    font-family: var(--P700);
}

.header__link {
    width: 200px;
    height: 50px;
    text-decoration: none;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-top: 38px;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #171718;
    font-family: var(--M500);

}

.header__link img {
    color: #171718;
    margin-left: 11px;
}

.airpods {
    display: flex;
    justify-content: space-between;
}

.airpods img {
    margin-top: 30px;

}

.airpods__text {
    width: 538px;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
    font-family: var(--M500);
    margin-top: 63px;
}

.earpods {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.earpods p {
    font-family: var(--M500);
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
    width: 540px;

}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item__text {
    width: 330px;
    font-size: 20px;
    line-height: 24px;
    text-align: right;
    font-family: var(--M700);
    color: #FFFFFF;
}

.item__paragraf {
    width: 333px;
    font-size: 20px;
    line-height: 24px;
    font-family: var(--M700);
    color: #FFFFFF;
}

.item span {
    width: 61px;
    height: 1px;
    background: #C4C4C4;
}